.leaf.leaf1
    include ../img/leaves/leaf1.svg
.leaf.leaf2
    include ../img/leaves/leaf2.svg
.leaf.leaf3
    include ../img/leaves/leaf3.svg
.leaf.leaf4
    include ../img/leaves/leaf4.svg
.leaf.leaf5
    include ../img/leaves/leaf5.svg
.leaf.leaf6
    include ../img/leaves/leaf6.svg
.leaf.leaf7
    include ../img/leaves/leaf7.svg
.leaf.leaf8
    include ../img/leaves/leaf8.svg
.leaf.leaf9
    include ../img/leaves/leaf9.svg
.leaf.leaf10
    include ../img/leaves/leaf10.svg
//.leaf.leaf11
//    include ../img/leaves/leaf11.svg
//.leaf.leaf12
//    include ../img/leaves/leaf12.svg
//.leaf.leaf13
//    include ../img/leaves/leaf13.svg
//.leaf.leaf14
//    include ../img/leaves/leaf14.svg
//.leaf.leaf15
//    include ../img/leaves/leaf15.svg
//.leaf.leaf16
//    include ../img/leaves/leaf16.svg
//.leaf.leaf17
//    include ../img/leaves/leaf17.svg
//.leaf.leaf18
//    include ../img/leaves/leaf18.svg
//.leaf.leaf19
//    include ../img/leaves/leaf19.svg
//.leaf.leaf20
//    include ../img/leaves/leaf20.svg